* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
}

.logo{
    margin-top: 35px;
    margin-left: 300px;
}

.phone{
    margin-top: -150px;
    text-align:center;
}

header{
    background: url("images/stars.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 880px;
}

body{
    background:rgb(25, 27, 41);
    background-size: cover;
    width: 100%;
    height: 1600px;
}
.menu a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu li{
    
    margin-right: 50px;
    display: inline;
}

.menu{
    margin-top: -40px;
    text-align:right;
    margin-right: 300px;
}

.Uranos{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.Text1{
    font-size: 65px;
    text-align:center;
    margin-bottom: -65px;
}

.Text2{
    font-size: 65px;
    text-align:center;
    font-weight:bold;
}

.flex-container{
    margin-left: 200px;
    display: inline;    
}

.form{
    margin-top: 200px;
    color: rgb(255, 255, 255);
}

.TrueForm{
    text-align:center;
}

.Email{
    padding: 25px;
    border-radius: 5%;
    margin-right: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 1.5px;
    background:rgba(255, 255, 255, 0);
    border-style:double;
    text-decoration-color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: bold;
}

.Password{
    padding: 25px;
    border-radius: 5%;
    margin-right: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 1.5px;
    background:rgba(255, 255, 255, 0);
    border-style:double;
    text-decoration-color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: bold;
}

.Register{
    padding: 25px;
    border-radius: 5%;
    background:rgba(255, 216, 0);
    border-style: none;
    font-size: medium;
    font-weight: bold;
}

.pic1 img{
    margin-bottom: 20px;
}

.text10{
    color:rgb(255, 255, 255);
    font-size: 45px;
    margin-left: 90px;
    margin-top: -75px;
}

.ps1{
    margin-left: 300px;
    margin-top: -450px;
}

body p{
    color:rgb(157, 159, 191);
    font-size: 20px;
    line-height: 12px;
}