* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
}

.logo{
    margin-top: 35px;
    margin-left: 300px;
}

.phone{
    margin-top: -150px;
    text-align:center;
}

header{
    background: url("images/stars.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 880px;
}



.menu a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu li{
    
    margin-right: 50px;
    display: inline;
}

.menu{
    margin-top: -40px;
    text-align:right;
    margin-right: 300px;
}

.Uranos{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.Text1{
    color: rgb(255, 255, 255);
    font-size: 65px;
    text-align:center;
    margin-bottom: 65px;
}

.Text2{
    color: rgb(255, 255, 255);
    font-size: 65px;
    text-align:center;
    font-weight:bold;
}

.felix{
    margin-left: 200px;
    display: inline;    
}

.form{
    margin-top: 200px;
    color: rgb(255, 255, 255);
}

.TrueForm{
    text-align:center;
}

.Email{
    padding: 25px;
    border-radius: 5%;
    margin-right: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 1.5px;
    background:rgba(255, 255, 255, 0);
    border-style:double;
    text-decoration-color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: bold;
}

.Password{
    padding: 25px;
    border-radius: 5%;
    margin-right: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 1.5px;
    background:rgba(255, 255, 255, 0);
    border-style:double;
    text-decoration-color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: bold;
}

.Register{
    padding: 25px;
    border-radius: 5%;
    background:rgba(255, 216, 0);
    border-style: none;
    font-size: medium;
    font-weight: bold;
}

.pic1 img{
    margin-bottom: 20px;
}
.pic3 img{
    margin-top: -20px;
}

.body1 p{
    color:rgb(157, 159, 191);
    font-size: 20px;
    line-height: 12px;
}

.text10{
    color:rgb(255, 255, 255);
    font-size: 45px;
    margin-left: 90px;
    margin-top: -75px;
}

.text20{
    color:rgb(255, 255, 255);
    font-size: 45px;
    margin-left: 90px;
    margin-top: -55px;
}

.text30{
    color:rgb(255, 255, 255);
    font-size: 45px;
    margin-left: 70px;
    margin-top: -55px;
}

.text40{
    color:rgb(255, 255, 255);
    font-size: 45px;
    margin-left: 70px;
    margin-top: -55px;
}

.ps1{
    margin-left: 300px;
    margin-top: -500px;
}

.ps2{
    margin-left: 300px;
    margin-top: 100px;
}

.ps3{
    margin-left: 1300px;
    margin-top: -420px;
}

.ps4{
    margin-left: 1300px;
    margin-top: 100px;
    margin-bottom: 150px;
}


body{
    
    background:rgb(25, 27, 41);
    background-size: cover;
    width: 100%;
    height: 200px;
}


.body3{
    margin-top: -120px;
    background:rgb(255, 227, 71);
    background-size: cover;
    width: 100%;
    height:  800px;
}

.body4{
    background:white;
    background-size: cover;
    width: 100%;
    height:  800px;
}

.body2{
    
    background:rgb(255, 216, 0);
    background-size: cover;
    width: 100%;
    height:  800px;
}

.name1{
    color:rgb(25, 27, 41);
    font-size: 35px;
    margin-top: 40px;
    font-weight: bold;
}

.name2{
    color:rgb(25, 27, 41);
    font-size: 35px;
    margin-top: 40px;
    font-weight: bold;
}

.name3{
    color:rgb(25, 27, 41);
    font-size: 35px;
    margin-top: 40px;
    font-weight: bold;
}

.name4{
    color:rgb(25, 27, 41);
    font-size: 35px;
    margin-top: 40px;
    font-weight: bold;
}

.team{
    display:block;
    text-align: center;
}

.body2 p{
    color:rgb(25, 27, 41);
    font-size: 20px;
    line-height: 12px;
}

.body1 p{
    color:rgb(157, 159, 191);
    font-size: 20px;
    line-height: 12px;
}

.body3 p{
    color:rgb(25, 27, 41);
    font-size: 20px;
    line-height: 12px;
}

.body4 p{
    color:rgb(25, 27, 41);
    font-size: 20px;
    line-height: 12px;
}

.first{
    margin-top: 30px;
    margin-right: 1000px;
}

.second{
    margin-top: -353px;
    margin-right: 350px;
}

.third{
    margin-top: -353px;
    margin-left: 350px;
}

.fourth{
    margin-top: -356px;
    margin-left: 1000px;
}


.words{
    margin-top: 100px;
}

.meet{
    margin-top: 100px;
    text-align: center;
    color:rgb(25, 27, 41);
    font-size: 50px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.make{
    text-align: center;
    color:rgb(25, 27, 41);
    margin-top: -30px;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 100px;
}

.awsome{
    font-size: 40px;
}

.awsome2{
    font-size: 40px;
}

.xx p{
    line-height: 1.5;
}

.xxx p{
    line-height: 1.5;
}

.xx{
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 1100px;
    
}

.download{
    margin-top: 40px;
    margin-left: 300px;
    padding: 25px;
    border-radius: 5%;
    background:rgba(25, 27, 41);
    border-style: none;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.download2{
    margin-top: 80px;
    margin-left: 850px;
    padding: 25px;
    border-radius: 5%;
    background:rgba(255, 216, 0);
    border-style: none;
    font-size: medium;
    font-weight: bold;
    color: rgba(24, 26, 38);
}

.xxx{
    margin-left: 300px;
    margin-right: 1100px;
}

.lap{
    margin-top: -715px;
    text-align: right;
}

.body3{
    height: 300px;
    width: 100vw;
    display: flex;
}
.body4{
    height: 500px;
    width: 100vw;
    display:inline-table;
}

.body2{
    height: 900px;
    width: 100vw;
}



.body5{
    height: 850px;
    width: 100vw;
    background: url("images/stars_copy.png") no-repeat;
    background-size: cover;
}

.wordS h1{
    color:white;
    line-height: 1.5;
}

.bricks{
    display: flex;
    margin-left: 250px;
    text-align: center;
    column-gap: 50px;
}

.bricks h1{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}



.bricks li{
    color: white;
    list-style-type:none;
    line-height: 1.5;
    font-size: 20px;
    font-weight: lighter;
}

.bricks2{
    display: flex;
    margin-top: 200px;
    margin-left: 350px;
    text-align: center;
    column-gap: 200px;
}
.bricks2 li{
    color: white;
    list-style-type:none;
    line-height: 2;
    font-size: 20px;
    font-weight: lighter;
}

.finally{
    margin-top: 150px;
}

.finally li{
    text-align: center;
    color: white;
    list-style-type:none;
    line-height: 2;
    font-size: 20px;
    font-weight: lighter;
}

.finally b{
    font-size: 20px;
    font-weight: bold;
}

.body6{
    background:rgb(25, 27, 41);
    background-size: cover;
    width: 100%;
    height:  800px;
}
