#obj1 {
    background: rgb(22, 22, 22);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    
}

#obj2 {
    background: rgb(67, 67, 67);
    height: 70%;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
}

#obj3 {
    background: rgb(104, 104, 104);
    height: 70%;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
}

#obj4 {
    background: rgb(150, 150, 150);
    height: 70%;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
}

#obj5 {
    background: rgb(207, 207, 207);
    height: 70%;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
}

#obj6 {
    background: rgb(255, 255, 255);
    height: 70%;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
}