header{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

img.logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    font-family: "Arial";
    text-align: center;
    font-size: 35px;
    color: white;
}

nav li{
    color: #ffff;
    font-family: 'Arial';
    font-size: 35px;
    display: inline;
    vertical-align:bottom;
    margin:10px;
    line-height: 100px;

}

nav{
    margin-bottom: 0px;
    margin-left: 5%;
    margin-right: 5%;
    background:rgb(178, 125, 47);
    background-size: cover;
    height: 100px;
    width:auto;
}

.Zag1{
    font-weight: lighter;
    font-family: "Georgia";
    font-style:italic;
    font-size: 50px;
    color: rgb(80,55,43)
}

.Zag2{
    font-weight: lighter;
    font-family: "Georgia";
    font-style:italic;
    font-size: 50px;
    color: rgb(106, 106, 106)
}

#art{
    height: 100%;
    width:auto;
    margin-left: 5%;
    margin-bottom: 20px;
}

.Text1{
    font-family: "Arial";
    font-style:normal;
    color: rgb(121,121,121);
    font-size: 25px;
    width: 90%;
    line-height: 29px;
}

.section1{
    border-bottom: 20px solid rgb(237, 237, 237);
    display: flex;
    background-color: rgb(237, 237, 237);
    
}

.img1{
    margin-top: 50px;
    margin-right: 5%;
    height: 400px;
    width: 700px;
}

.section2{
    background-color: rgb(237, 237, 237);
}

.bc{
    border-top: 5px solid rgb(178, 178, 178);
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.Ending{
    margin-right: 5%;
    border-top: 15px solid rgb(178, 178, 178);
    margin-left: 5%;
    border-bottom: 15px solid rgb(237, 237, 237);
}

footer{
    background-color: rgb(237, 237, 237);
}

.Text2{
    font-family: "Arial";
    font-style:normal;
    color: rgb(160,160,160);
    font-size: 25px;
    width: 90%;
    line-height: 29px;
}